.sidebar {
	margin-top: 1.8rem;
	margin-left: 1.8rem;
}


.boat-list {
	display: flex;
	flex-wrap: wrap;
}
.boat-list .boat {
	position: relative;
	width: 30%;
	margin: 1.665% 1.665%;
	padding-bottom: 60px;
}
.boat-list .boat header {
	margin-bottom: 10px;
}
.boat-list .boat footer {
	position: absolute;
	bottom: 15px;
	left: 20px;
	width: 90%;
}
.boat-list .boat .description {
}

.boat-list .boat figure {
	margin: 0 15px 0 0;
}
.boat-list .boat figure img {
	max-height: 96px;
	width: auto;
	margin-bottom: 0;
}