<template>
    <div class="page-about">
      <section class="section">
        <div class="container">
          <h1 class="title">Sobre</h1>
        </div>
      </section>

      <div class="content">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h4>Objetivo principal</h4>
              <p>Fazer velejadores encontrarem seu veleiros.</p>
              <hr>
              <h4>Tecnologia</h4>
              <p>O sistema procura anúncios de veleiros entre principais sites de classificados. Esses anúncios são agrupados e organizados no mesmo lugar.</p>
              <hr>
              <h4>Solução</h4>
              <ul>
                <li>Procurar em vários lugares de uma vez só.</li>
                <li>Criar uma ponte entre os anúncios e aqueles que procuram.</li>
              </ul>
              <hr>
            </div>
            <div class="column has-text-centered">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmeuveleiro%2F&tabs&width=500&height=240&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1547169348870653" width="500" height="240" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
          </div>

        </div>
      </div>

    </div>
</template>

<script>
export default {
  name: 'page-about',
  data () {
    return {
      title: 'Sobre'
    }
  }
}
</script>

<style lang="scss">
    .page-about {
        .content {
        }
        iframe { margin-bottom: 2rem; }
    }
</style>
