<template>
    <div class="page-add-boat">
      <section class="section">
        <div class="container">
          <h1 class="title">Inserir anúncio</h1>
        </div>
      </section>

      <div class="content">
        <div class="container">
          <p>Envie os dados abaixo para o e-mail: <strong>contato@meuveleiro.com</strong></p>
          <ul>
              <li>Título</li>
              <li>Preço</li>
              <li>Descrição</li>
              <li>Localização (cidade - estado)</li>
              <li>Nome para contato</li>
              <li>Telefone</li>
              <li>E-mail</li>
              <li>e as imagens do veleiro em anexo.</li>
          </ul>
          <p>Assim que possível seu anúncio do veleiro será cadastrado.</p>
          <p>Para remover ou alterar um anúncio já cadastrado entrar em contato via o mesmo e-mail.</p>
        </div>
      </div>

    </div>
</template>

<script>
export default {
  name: 'page-add-boat',
  data () {
    return {
      title: 'Add boat'
    }
  }
}
</script>

<style lang="scss">
    .page-add-boat {
        .content {
        }
    }
</style>
