<template>
    <div id="app">
      <page-header></page-header>
      <main id="page-content">
        <router-view></router-view>
      </main>
    </div>
</template>

<script>
import PageHeader from './shared/structure/PageHeader.vue'

export default {
  name: 'page-app',
  data () {
    return {
      msg: '340',
      errors: []
    }
  },
  components: {
    'page-header': PageHeader
  }
}
</script>

<style lang="scss">

</style>
