<template>
    <div class="page-boat">

        <div v-if="boat">

            <section class="section">

                <div class="content">
                    <div class="container">
                    <div class="columns">
                        <div class="column">


                        <h1 class="title">{{boat.title}}</h1>

                        <h4>Preço: {{boat.price}}</h4>
                        <div style="white-space: pre-line">
                            <p>{{boat.description}}</p>
                        </div>
                        <div v-if="boat.place">
                            <hr>
                            <h4>Localização</h4>
                            <p>{{boat.place.address}}</p>
                        </div>
                        <hr>
                        <h4>Contato</h4>
                        <p>{{boat.name}}</p>
                        <p>{{boat.phone}}</p>
                        <p>{{boat.email}}</p>
                        <hr>

                        </div>
                        <div class="column">

                            <nav class="breadcrumb is-small is-right" aria-label="breadcrumbs">
                                <ul>
                                    <li class="is-active"><a href="#" aria-current="page">Veleiro: "<strong>{{boat.title}}</strong>"</a></li>
                                    <li><a @click.prevent="$router.go(-1)">Voltar para busca</a></li>
                                </ul>
                            </nav>

                            <div class="columns is-mobile is-multiline">
                                <div class="column is-half-mobile is-one-third-desktop" v-for="(image, index) in boat.images" :key="`boat-image-${index}`">
                                    <a href="#" @click.prevent="zoomThisImage(image)">
                                        <img :src="`http://meuveleiro.com/${image.path}`" alt="veleiro">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal" :class="{'is-active': zoomImage}">
                        <div @click="zoomImage = false" class="modal-background"></div>
                        <div @click="zoomImage = false" class="modal-content">
                            <p class="image">
                                <img :src="`http://meuveleiro.com/${zoomImageUrl}`" alt="veleiro">
                            </p>
                        </div>
                        <button @click="zoomImage = false" class="modal-close is-large" aria-label="close"></button>
                    </div>

                    </div>
                </div>
            </section>
        </div>

    </div>
</template>

<script>
export default {
  name: 'page-boat',
  data () {
    return {
      title: 'Boat',
      zoomImageUrl: '',
      zoomImage: false,
      
    }
  },
  computed: {
        boat() {
            return this.$store.getters.getBoatById(this.$route.params.id);
        },
        boats() {
            return this.$store.getters.allBoats;
        },
  },
  methods: {
      zoomThisImage(image) {
        this.zoomImage = true;
        this.zoomImageUrl = image.path;
      },
  },
  created() {
    window.scrollTo(0, 0);
    if (this.boats.length === 0) {
      this.$store.dispatch("getAllBoats");
    }
  },
}
</script>

<style lang="scss">
    .page-boat {
        .content {
        }
    }
</style>
