<template>
  <div id="page-boats">

    <section class="hero is-info">
      <div class="hero-body" :class="{ 'is-bg1': bgImage == 1, 'is-bg2': bgImage == 2, 'is-bg3': bgImage == 3, 'is-bg4': bgImage == 4, 'is-bg5': bgImage == 5 }">
        <div class="container">
          <h1 class="title">
            Meu Veleiro
          </h1>
          <h2 class="subtitle">
            Bem vindo, procure seu veleiro.
          </h2>
        </div>
      </div>
    </section>

    <div class="container is-fluid">
      <div class="columns is-tablet">
        <div class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">

          <boat-sidebar></boat-sidebar>

        </div>
        <div class="column">

          <boat-list></boat-list>

        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { shuffle } from 'underscore'

import BoatSidebar from './components/boats/Sidebar.vue';
import BoatList from './components/boats/List.vue';

export default {
  name: 'page-boats',
  data () {
    return {
      msg: 'Boats',
      errors: []
    }
  },
  computed: {
    bgImage() {
      let images = [1, 2, 3, 4, 5];
      let image = shuffle(images)[0];
      return image;
    }
  },
  components: {
    'boat-list': BoatList,
    'boat-sidebar': BoatSidebar
  }
}
</script>

<style lang="scss">
  .hero-body {
    text-shadow: rgba(0,0,0,1) 1px 1px 1px;
    &.is-bg1 { background: #000 url(./assets/bg1.jpg) center center no-repeat; background-size: cover; }
    &.is-bg2 { background: #000 url(./assets/bg2.jpg) center center no-repeat; background-size: cover; }
    &.is-bg3 { background: #000 url(./assets/bg3.jpg) center center no-repeat; background-size: cover; }
    &.is-bg4 { background: #000 url(./assets/bg4.jpg) center center no-repeat; background-size: cover; }
    &.is-bg5 { background: #000 url(./assets/bg5.jpg) center center no-repeat; background-size: cover; }
  }
</style>
