<template>
    <div>
      <section class="hero is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Charters
            </h1>
            <h2 class="subtitle">
              Procure a melhor opção de charter para você.
            </h2>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <h1 class="title">Em breve</h1>
          <h2 class="subtitle">
            Essa seção ainda esta em desenvolvimento.
          </h2>
        </div>
      </section>

      <div class="content">
        <div class="container">
          <p>Se você tem interesse em charters, seja para oferta ou procura, cadastre seu e-mail abaixo.</p>
          <p>Assim que tiver novidades você será avisado.</p>
        </div>
      </div>


      <div class="hero is-info">
        <div class="hero-body">
          <div class="container">

            <div class="columns is-vcentered">

              <div class="column is-one-third is-left">
                <p class="title">Meu Veleiro</p>
                <p class="subtitle">Newsletter</p>
              </div>

              <div class="column">
                <form action="#">
                  <div class="field is-grouped">
                  <div class="control has-icons-left is-expanded">
                      <input type="email" value="" name="EMAIL" class="input is-flat required email" id="mce-EMAIL" placeholder="Endereço de e-mail" required="" aria-required="true">
                      <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                      </span>
                  </div>
                  <div class="control">
                      <input type="submit" value="Inscrever" class="button is-white is-outlined">
                  </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
</template>

<script>
export default {
  name: 'page-charters',
  data () {
    return {
      title: 'Charters'
    }
  }
}
</script>

<style lang="scss">
    // h1 {
    //     color: #ff0;
    // }
</style>
