<template>
    <div class="page-contact">
      <section class="section">
        <div class="container">
          <h1 class="title">Contato</h1>
        </div>
      </section>

      <div class="content">
        <div class="container">
          <p>Entre em contato via e-mail: <strong>contato@meuveleiro.com</strong></p>
          <p>Assim que possível retorno o contato.</p>
        </div>
      </div>

    </div>
</template>

<script>
export default {
  name: 'page-contact',
  data () {
    return {
      title: 'Contato'
    }
  }
}
</script>

<style lang="scss">
    .page-contact {
        .content {
        }
    }
</style>
