<template>
    <header id="page-header">

        <nav class="navbar">
        <div class="navbar-brand">
            <router-link class="navbar-item" :to="{ name: 'home' }">
                <img src="../../assets/sailboat.svg" alt="Meu Veleiro" width="28" height="28">
            </router-link>
            <div class="navbar-burger burger" v-on:click="toogleNav" data-target="navMenuExample" :class="{ 'is-active': navActived }">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenuExample" class="navbar-menu" :class="{ 'is-active': navActived }">
            <div class="navbar-start">
                <router-link class="navbar-item" :class="{ 'is-active': $route.name === 'home' }" :to="{ name: 'home' }">Veleiros</router-link>
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <router-link class="button is-light" :to="{ name: 'add-boat' }">
                                <span>Inserir anúncio</span>
                            </router-link>
                        </p>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="fb-like" data-href="https://www.facebook.com/meuveleiro/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
                </div>
                <router-link class="navbar-item" :class="{ 'is-active': $route.name === 'contato' }" :to="{ name: 'contato' }">Contato</router-link>
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <router-link class="button" :to="{ name: 'sobre' }">
                                <span class="icon">
                                    <i class="fa fa-anchor"></i>
                                </span>
                                <span>Sobre</span>
                            </router-link>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </nav>
    </header>
</template>

<script>
export default {
  data () {
    return {
      title: 'Meu Veleiro',
      navActived: false
    }
  },
  methods: {
      toogleNav: function() {
          this.navActived = !this.navActived;   
      }
  }
}
</script>

<style lang="scss">
    #page-header {
        .navbar-brand {
            img {
                 transform: scaleX(-1);
            }
        }
    }
</style>
