<template>
    <div class="card boat">
        <div class="card-content">
            <div class="is-clearfix">
                
                <figure>
                    <img v-if="boat.site === 'meuveleiro'" v-lazy="`http://meuveleiro.com/${boat.images[0].path}`" :key="`image-boat-${index}`" />
                    <img v-else v-lazy="boat.image" />

                    <div class="loading-feedback">
                        <span class="loading"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                        <span class="error"><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                    </div>
                </figure>

                <h6 class="title is-6 is-marginless">{{boat.title}}</h6>
                <p class="price has-text-info" v-if="boat.price"><small>{{boat.price | toNumber}}</small></p>

                <div class="description">
                    <p>{{boat.description}}&hellip; <strong v-if="boat.length"><small>({{boat.length}} pés)</small></strong></p>
                </div>

                <div class="meu-veleiro" v-if="boat.site === 'meuveleiro'">
                    <span>
                        <small>{{boat.place.address}}</small>
                    </span>
                    <span class="tag is-danger">Meu Veleiro</span>
                </div>

                <div v-if="boat.site !== 'meuveleiro'">
                    <span v-if="boat.city || boat.state">
                        <small v-if="boat.city">{{boat.city}}</small>
                        <small v-if="boat.state">
                            {{(boat.city)?'-':''}}
                            {{boat.state}}
                        </small>
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>

export default {
  props: {
    boat: Object,
    index: Number,
  },
  data() {
    return {
    //   title: 'LIST',
    }
  },
//   computed: {
//   },
//   methods: {
//   },
//   created() {
//   }
}
</script>

<style lang="scss">

.boat { position: relative;

    &:hover { box-shadow: rgba(0,0,0,.25) 0 0 5px; }

    .title { font-size: .9rem;
        text-transform: lowercase;
        &:first-letter {
            text-transform: uppercase;
        }
    }        

    .description {
        margin-bottom: .9rem;
        font-size: .9rem;
        word-wrap: break-word;
    }

    .price { margin-bottom: .5rem; }

    .meu-veleiro {
        .tag { margin-top: 1rem; }
    }

    figure {
        float: right;
        margin: 0 0 .75rem 1rem;
        width: 100px;
        height: 100px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .loading-feedback {
            .loading {  display: inline; }
            .error {  display: none; }
        }
        img {
            display: block;
            margin: 0;
            // border-radius: 3px;
            max-height: 100%;
            position: absolute;
            min-height: 100%;
            max-width: none;
        }
        img[lazy=loaded] + .loading-feedback {
            .loading {  display: none; }
        }
        img[lazy=error] + .loading-feedback {
            .loading {  display: none; }
            .error {  display: inline; }
        }
    }
}

</style>
