<template>
    <div>

        <div v-if="loading">
            <span class="tag">
                loading...
            </span>
        </div>

        <nav v-if="!loading" class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="field">
                        <div class="control has-icon has-icon-right">
                            <input class="input" type="text" :value="modelo" v-on:keyup="updateBoatModel($event)" placeholder="Busque algo...">
                            <span class="icon is-small">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="level-item" v-if="filterBoats.length > 0">
                    <p class="subtitle is-5">
                        <strong>{{totalBoatsFound}} de {{boats.length}}</strong> veleiros
                    </p>
                </div>
            </div>

            <div class="level-right">
                <div class="level-item">
                    <a v-on:click="sortByPrice" class="button is-light is-small">
                        <span class="icon is-small">
                            <i v-if="toggleSortByPrice === true" class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                            <i v-else-if="toggleSortByPrice === false" class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                            <i v-else class="fa fa-times" aria-hidden="true"></i>
                        </span>
                        <span v-if="toggleSortByPrice === false" title="Ordenar por menor preço">Menor preço</span>
                        <span v-if="toggleSortByPrice === true" title="Ordenar por maior preço">Maior preço</span>
                        <span v-if="toggleSortByPrice === 'higher'" title="Remover ordem por preço">Remover</span>
                    </a>
                </div>
            </div>
        </nav>


        <div v-if="!loading && totalBoatsFound == 0">
            <article class="message">
                <div class="message-body">
                    <p><i class="fa fa-frown-o" aria-hidden="true"></i></p>
                    <p>Nenhum veleiro encontrado.</p>
                </div>
            </article>
        </div>    


        <div v-if="!loading && filterBoats.length > 0" class="boat-list columns is-multiline">
            <div class="column is-half is-one-third-tablet is-one-quarter-fullhd" v-for="(boat, index) in filterBoats" :key="index">

                <router-link v-if="boat.site === 'meuveleiro'" :to="{ name: 'veleiro', params: { id: boat._id } }">
                    <boat-item :boat="boat" :index="index"></boat-item>
                </router-link>

                <a v-if="boat.site !== 'meuveleiro'" :href="boat.url" target="_blank" :title="`Abrir anúncio na página do ${boat.site}`">
                    <boat-item :boat="boat" :index="index"></boat-item>
                </a>

            </div>
        </div>

        <nav v-if="!loading && totalBoatsFound > pages" class="pagination">
            <router-link class="pagination-previous is-hidden-desktop" :to="{ name: 'boats', params: { pageNumber: prevPage } }" :disabled="!$route.params.pageNumber || $route.params.pageNumber === 1">Anterior</router-link>
            <router-link class="pagination-next is-hidden-desktop" :to="{ name: 'boats', params: { pageNumber: nextPage } }" :disabled="$route.params.pageNumber === pagination.length">Próxima</router-link>
            <ul class="pagination-list">
                <li class="is-hidden-touch" :class="{ 'is-hidden': page === 1 && (!$route.params.pageNumber || $route.params.pageNumber === 1) }" v-for="page in pagination" :key="page">
                    <router-link :to="{ name: 'boats', params: { pageNumber: page } }" class="pagination-link" :class="{ 'is-current': $route.params.pageNumber == page }">{{page}}</router-link>
                </li>
            </ul>
        </nav>

        <div class="pagination-status has-text-centered is-hidden-desktop">
            <span class="tag is-medium is-info">{{($route.params.pageNumber) ? $route.params.pageNumber : '1' }} de {{pagination.length}}</span>
        </div>

        <!-- <pre class="debug">{{boats}}</pre> -->

    </div>
</template>

<script>
import BoatItem from "./Item.vue";

import { shuffle } from "underscore";

export default {
  data() {
    return {
      title: "LIST",
      pages: 30,
      totalBoatsFound: 0,
      toggleSortByPrice: false
    };
  },
  computed: {
    modelo() {
      return this.itensBusca.modelo;
    },
    boats() {
      return this.$store.getters.allBoats;
    },
    loading() {
      return this.$store.getters.loading;
    },
    sitesActived() {
      return this.$store.getters.sitesActived;
    },
    itensBusca() {
      return this.$store.getters.busca;
    },
    isShuffled() {
      return this.$store.getters.isShuffled;
    },
    filterBoats() {
      let data = this.boats;

      let boatModel = this.itensBusca.modelo;
      let minPrice = parseInt(this.itensBusca.minPrice);
      let maxPrice = parseInt(this.itensBusca.maxPrice);
      let sortByPrice = this.itensBusca.sortByPrice;

      var page = this.$route.params.pageNumber
        ? (this.$route.params.pageNumber - 1) * this.pages
        : 0;

      let filterByActivedSites = data.filter(
        boat => this.sitesActived[boat.site]
      );

      if (maxPrice) {
        filterByActivedSites = filterByActivedSites.filter(
          boat => boat.price <= maxPrice
        );
        minPrice = minPrice ? minPrice : 1;
      }
      if (minPrice) {
        filterByActivedSites = filterByActivedSites.filter(
          boat => boat.price >= minPrice
        );
      }

      if (boatModel) {
        boatModel = boatModel.toLowerCase();
        filterByActivedSites = filterByActivedSites.filter(function(row) {
          return Object.keys(row).some(function(key) {
            return (
              String(row[key])
                .toLowerCase()
                .indexOf(boatModel) > -1
            );
          });
        });
      }

      this.totalBoatsFound = filterByActivedSites.length;

      if (sortByPrice === true) {
        filterByActivedSites.sort(function(a, b) {
          if (parseFloat(a.price) < parseFloat(b.price)) {
            return -1;
          }
          if (parseFloat(a.price) > parseFloat(b.price)) {
            return 1;
          }
          return 0;
        });
      } else if (sortByPrice == "higher") {
        filterByActivedSites.sort(function(a, b) {
          return b.price - a.price;
        });
      } else {
        // if(!this.isShuffled) {
        //     filterByActivedSites = shuffle(filterByActivedSites);
        //     this.$store.dispatch("toggleIsShuffled", true);
        // }
      }

      return filterByActivedSites.slice(page, page + this.pages);
    },
    pagination() {
      let pages = Math.ceil(this.totalBoatsFound / this.pages);
      let itens = [];
      for (let i = 1; i <= pages; i++) {
        itens.push(i);
      }
      return itens;
    },
    nextPage() {
      let next;
      let pages = this.pagination;

      if (this.$route.params.pageNumber < pages.length) {
        next = this.$route.params.pageNumber + 1;
      } else if (this.$route.params.pageNumber === pages.length) {
        next = pages.length;
      } else {
        next = 2;
      }
      return next;
    },
    prevPage() {
      let prev;
      if (this.$route.params.pageNumber > 1) {
        prev = this.$route.params.pageNumber - 1;
      } else {
        prev = 1;
      }
      return prev;
    }
  },
  watch: {
    $route() {
        if(this.$route.params.pageNumber) {
            this.paginate();
        }
    }
  },
  methods: {
    paginate: function() {
      window.scrollTo(0, 0);
    },
    updateBoatModel(event) {
      let self = this;
      this.delay(function() {
        self.$router.push({ path: "/" });
        let boatModel = event.target.value;
        self.$store.dispatch("updateBoatModel", boatModel);
      }, 500);
    },
    delay(callback, ms) {
      clearTimeout(this.timerDelay);
      this.timerDelay = setTimeout(callback, ms);
    },
    sortByPrice() {
      if (!this.toggleSortByPrice) {
        this.toggleSortByPrice = true;
      } else if (this.toggleSortByPrice === true) {
        this.toggleSortByPrice = "higher";
      } else {
        this.toggleSortByPrice = false;
      }

      let self = this;
      this.delay(function() {
        self.$router.push({ path: "/" });
        self.$store.dispatch("toggleSortByPrice", self.toggleSortByPrice);
      }, 500);
    }
  },
  created: function() {
    if (this.boats.length === 0) {
      this.$store.dispatch("getAllBoats");
    }
  },
  components: {
    "boat-item": BoatItem
  }
};
</script>

<style lang="scss">
.pagination-status {
  margin-top: 2rem;
}

.boat-list {
  align-content: stretch;
}
</style>
