<template>
    <div class="sidebar__search">

        <div class="has-text-centered">
            <button class="button is-info is-hidden-desktop" v-on:click="toggleFiltersActived">{{ (filtersActived) ? 'Ocultar' : 'Mostrar' }} filtros</button>
        </div>

        <div :class=" { 'is-hidden-touch': !filtersActived } ">
            <div class="box">

                <div class="field">
                    <label class="label">Preço</label>
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input has-text-centered" type="text" placeholder="min" v-on:keyup="updateMinPrice($event)">
                        </div>
                        <div class="control">
                            <input class="input has-text-centered" type="email" placeholder="max" v-on:keyup="updateMaxPrice($event)">
                        </div>
                    </div>
                </div>

                <div class="field is-hidden">
                    <label class="label">Modelo</label>
                    <div class="control has-icon has-icon-right">
                        <input class="input" type="text" v-model="modelo" v-on:keyup="updateBoatModel($event)" placeholder="...">
                        <span class="icon is-small">
                        <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>

                <div class="field is-hidden">
                    <label class="label">Tamanho</label>
                    <div class="field has-addons">
                        <div class="control">
                        <input class="input" type="text" placeholder="min">
                        </div>
                        <div class="control">
                        <input class="input" type="email" placeholder="max">
                        </div>
                    </div>
                </div>

                <div class="field is-hidden">
                    <label class="label">Estado</label>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option>Todos</option>
                                <option>AC</option>
                                <option>AL</option>
                                <option>AP</option>
                                <option>AM</option>
                                <option>BA</option>
                                <option>CE</option>
                                <option>DF</option>
                                <option>ES</option>
                                <option>GO</option>
                                <option>MA</option>
                                <option>MT</option>
                                <option>MS</option>
                                <option>MG</option>
                                <option>PA</option>
                                <option>PB</option>
                                <option>PR</option>
                                <option>PE</option>
                                <option>PI</option>
                                <option>RJ</option>
                                <option>RN</option>
                                <option>RS</option>
                                <option>RO</option>
                                <option>RR</option>
                                <option>SC</option>
                                <option>SP</option>
                                <option>SE</option>
                                <option>TO</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field is-hidden">
                    <label class="label">Cidade</label>
                    <div class="control has-icon has-icon-right">
                        <input class="input" type="text" placeholder="...">
                        <span class="icon is-small">
                        <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>


                <div class="field search__sites">
                    <label class="label">Sites</label>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-danger': meuveleiro }" class="tag is-pulled-right">{{ this.countBoats('meuveleiro') }}</span>
                            <input :checked="meuveleiro" v-on:change="toggleSiteActived('meuveleiro', $event)" type="checkbox"> Meu Veleiro
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-info': olx }" class="tag is-pulled-right">{{ this.countBoats('olx') }}</span>
                            <input :checked="olx" v-on:change="toggleSiteActived('olx', $event)" type="checkbox"> OLX
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-info': mercadolivre }" class="tag is-pulled-right">{{ this.countBoats('mercadolivre') }}</span>
                            <input :checked="mercadolivre" v-on:change="toggleSiteActived('mercadolivre', $event)" type="checkbox"> Mercado Livre
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-info': abracore }" class="tag is-pulled-right">{{ this.countBoats('abracore') }}</span>
                            <input :checked="abracore" v-on:change="toggleSiteActived('abracore', $event)" type="checkbox"> Abracore
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-info': bombarco }" class="tag is-pulled-right">{{ this.countBoats('bombarco') }}</span>
                            <input :checked="bombarco" v-on:change="toggleSiteActived('bombarco', $event)" type="checkbox"> Bombarco
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-info': eboat }" class="tag is-pulled-right">{{ this.countBoats('eboat') }}</span>
                            <input :checked="eboat" v-on:change="toggleSiteActived('eboat', $event)" type="checkbox"> Eboat
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-info': floripaboat }" class="tag is-pulled-right">{{ this.countBoats('floripaboat') }}</span>
                            <input :checked="floripaboat" v-on:change="toggleSiteActived('floripaboat', $event)" type="checkbox"> Floripaboat
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-info': freeboat }" class="tag is-pulled-right">{{ this.countBoats('freeboat') }}</span>
                            <input :checked="freeboat" v-on:change="toggleSiteActived('freeboat', $event)" type="checkbox"> Freeboat
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-info': nautica }" class="tag is-pulled-right">{{ this.countBoats('nautica') }}</span>
                            <input :checked="nautica" v-on:change="toggleSiteActived('nautica', $event)" type="checkbox"> Náutica
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-info': portalnautico }" class="tag is-pulled-right">{{ this.countBoats('portalnautico') }}</span>
                            <input :checked="portalnautico" v-on:change="toggleSiteActived('portalnautico', $event)" type="checkbox"> Portal náutico
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-info': shopboats }" class="tag is-pulled-right">{{ this.countBoats('shopboats') }}</span>
                            <input :checked="shopboats" v-on:change="toggleSiteActived('shopboats', $event)" type="checkbox"> Shopboats
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <span :class="{ 'is-info': webmarine }" class="tag is-pulled-right">{{ this.countBoats('webmarine') }}</span>
                            <input :checked="webmarine" v-on:change="toggleSiteActived('webmarine', $event)" type="checkbox"> Webmarine
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button v-on:click="toggleAllSites" class="button is-info">
                            {{ showAllSites ? 'Desmarcar' : 'Marcar' }} todos
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>

<script>

export default {
    data () {
        return {
            timerDelay: 0,
            showAllSites: true,
            filtersActived: false
        }
    },
    computed: {
        modelo() {
            return this.$store.getters.busca.modelo;
        },
        sitesActived() {
            return this.$store.getters.sitesActived;
        },
        abracore() {
            return this.sitesActived.abracore;
        },
        bombarco() {
            return this.sitesActived.bombarco;
        },
        eboat() {
            return this.sitesActived.eboat;
        },
        floripaboat() {
            return this.sitesActived.floripaboat;
        },
        freeboat() {
            return this.sitesActived.freeboat;
        },
        nautica() {
            return this.sitesActived.nautica;
        },
        portalnautico() {
            return this.sitesActived.portalnautico;
        },
        shopboats() {
            return this.sitesActived.shopboats;
        },
        webmarine() {
            return this.sitesActived.webmarine;
        },
        olx() {
            return this.sitesActived.olx;
        },
        mercadolivre() {
            return this.sitesActived.mercadolivre;
        },
        meuveleiro() {
            return this.sitesActived.meuveleiro;
        },
        boats() {
            return this.$store.getters.allBoats;
        },
    },
    mounted() {
    },
    methods: {
        countBoats (site) {
            return this.boats.filter(boat => boat.site === site).length
        },
        toggleSiteActived(site, event) {
            let toggleSite = {
                name: site,
                value: event.target.checked
            };
            this.$store.dispatch('toggleSiteActived', toggleSite)
            this.$router.push({ path: '/' })
        },
        updateBoatModel(event) {
            let self = this;
            this.delay(function() {
                self.$router.push({ path: '/' });
                let boatModel = event.target.value;
                self.$store.dispatch('updateBoatModel', boatModel);
            }, 500);
        },
        updateMinPrice(event) {
            let self = this;
            this.delay(function() {
                self.$router.push({ path: '/' });
                let price = event.target.value;
                self.$store.dispatch('updateMinPrice', price);
            }, 500);
        },
        updateMaxPrice(event) {
            let self = this;
            this.delay(function() {
                self.$router.push({ path: '/' });
                let price = event.target.value;
                self.$store.dispatch('updateMaxPrice', price);
            }, 500);
        },
        delay(callback, ms) {
            clearTimeout (this.timerDelay);
            this.timerDelay = setTimeout(callback, ms);
        },
        toggleAllSites() {
            this.showAllSites = !this.showAllSites;
            this.$store.dispatch('toggleAllSites', this.showAllSites);
        },
        toggleFiltersActived() {
            this.filtersActived = !this.filtersActived;
        }
    }
}
</script>

<style lang="scss">
    .sidebar__search {
        margin-bottom: 1.5rem;
    }
    .search__sites {
        .control {
            margin: .5rem 0;
            .checkbox {
                display: block;
            }
        }
    }
</style>
