<template>
    <div class="sidebar">

        <boat-search></boat-search>

        <!-- <div class="box is-hidden-touch">
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-3960549066269861"
                data-ad-slot="4551041889"
                data-ad-format="auto"></ins>
        </div> -->
    </div>
</template>

<script>
import BoatSearch from './Search.vue';
import helpers from '@/shared/helpers'

export default {
    data () {
        return {
            title: 'Busca',
            timerDelay: 0
        }
    },
    computed: {
    },
    mounted() {

        // function loadsAds () {
        //     if(!window.adsbygoogle) {
        //         setTimeout(function(){
        //             loadsAds();
        //         }, 1000);
        //     } else {
        //         (adsbygoogle = window.adsbygoogle || []).push({});
        //     }
        // }
        // if(helpers.isLarge()) {
        //     loadsAds();
        // }
    },
    methods: {
    },
    components: {
        'boat-search': BoatSearch
    }
}
</script>

<style lang="scss">
</style>
